{% extends 'base.html.twig' %}

{% block body %}
{{ form_start(passwordForm) }}
    {{ form_row(passwordForm.motPasse) }}
    {{ form_row(passwordForm.confirmation) }}
    <button>Modifier</button>
{{ form_end(passwordForm)}}
{% endblock %}

{% block title %}

{% endblock %}

