header{
    padding: 10px 0px;
    background: #154a80;
    color:white;
}

.container{
    max-width:90% !important;
}

h1{
    text-align:left;
}

nav{
    display:flex;
    justify-content:space-between;
    color:white;
}

nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

nav li {
    margin-right: 1rem;
}

ul{

}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #ffa700;
    text-decoration:none;
}

body{
    font-family: 'Nunito', sans-serif;
    background: #e9ecef;
}

footer{
    margin-top: 5rem;
    padding: 6px 0px;
    background: #154a80;

}

.credit-footer {
    color: #ffffff;          
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.participant-profil{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
}

.participant-profil-infos{
    margin-bottom: 1rem;
}
label {
    display: flex;
}

input, textarea, select {

    margin-bottom: 1rem;
    box-sizing: border-box;
    max-width: 50%;
    max-width: 200px;
}
.flash {
    padding: 20px;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
    border-radius: 8px;
}

.flash-success {
    background-color: #239600;
}

.login {
    margin-top: 5rem;
    display: grid;
    justify-content: center;
}