{% extends 'base.html.twig' %}

{% block title %}Liste des campus | {{ parent() }}{% endblock %}

{% block body %}
<h2>Liste des campus</h2>
{% for lcampus in campus %}
<table class="table table-striped">
    <tbody>
        <tr>
            <th scope="col">
                Nom du campus
            </th>
        </tr>
        
        <tr>
            <td>
                {{ lcampus.nom }}
            </td>
        </tr>
    </tbody>
</table>
{% endfor %}
{% endblock %}
