{% extends 'base.html.twig' %}

{% block title %}
Créer une nouvelle sortie | {{parent() }}
{% endblock %}

{% block body %}
<div>
    {{ form_start(creerSortieForm) }}
    {{ form_widget(creerSortieForm) }}
    <button>Sauvgarder</button>
    <button>Publier !</button>
    {{ form_end(creerSortieForm) }}
</div>
{% endblock %}